<% include header.html %>

<header class="bar-title">
  <a class="button" href="/<%= name_linkified %>" data-transition="slide-out">
      Cancel
    </a>
  <h1 class="title"><%= pageTitle %></h1>
  <a class="button" href="/<%= name_linkified %>" data-transition="fade">
      Save
    </a>
</header>

<div class="content">
  <ul class="list">
    <li class="list-divider">Date</li>
    <li class="add li">
      <form>
        <% if (date=='') {%>
        <input type="date" class="add input" placeholder="Select date" autofocus="autofocus">
        <% } else { %>
        <input type="date" class="add input" placeholder="Select date" value="<%= date %>">
        <% } %>
      </form>
    </li>
    <li class="list-divider">Amount</li>
    <li class="add li">
      <form>
        <input type="number" class="add input" placeholder="Enter amount" value="<%= amount %>">
      </form>
    </li>
    <li class="list-divider">Description</li>
    <li class="add li">
      <form>
        <input type="text" class="add input" placeholder="Enter description" value="<%= description %>">
      </form>
    </li>
    <li class="list-divider">Who paid</li>
    <li>
      <%= payer %>
      <span class="chevron"></span>
    </li>
    <li class="list-divider">Split among</li>
    <li>
      <%= split %>
      <span class="chevron"></span>
    </li>
  </ul>
  <% if (pageTitle=='Edit Payment') { %>
  <a class="button-negative button-block">Delete payment</a>
  <% } %>
</div>

<% include footer.html %>