<%- partial('header.ejs') %>

<header class="bar-title">
  <a class="button button-clear" href="/" data-transition="slide-out">
    <i class="icon-arrow-left icon-menu"></i>
  </a>
  <h1 class="title"><%= pageTitle %></h1>
  <a class="button button-clear" href="/<%= name_linkified %>/add" data-transition="slide-in">
    <i class="icon-pencil icon-menu"></i>
  </a>
</header>

<nav class="bar-standard bar-header-secondary">
  <ul class="segmented-controller">
    <li class="active">
      <a id="summary-button" href="#summary">Summary</a>
    </li>
    <li>
      <a id="payments-button" href="#payments">Payments list</a>
    </li>
  </ul>
</nav>

<div class="content">
  <ul class="list">
    <!-- summary -->
    <% summary.forEach(function(personObj){ %>
    <div id="summary" class="segmented-controller-item active">
      <a href="/<%= name_linkified %>/user/<%= personObj.person.toLowerCase() %>" data-transition="slide-in">
        <li class="amounts click">
          <span class="summary person"><img src="/images/<%= personObj.person.toLowerCase() + '.png' %>"></span>
      		<div class="summary person-details">
      		  <div class="person"><%= personObj.person %></div>
      		  <div class="paid-should-paid">Paid $<%= personObj.paid %></div>
      		</div>
      		<span class="summary net">
      		  <% if (parseFloat(personObj.balance)<0) { neg_balance = parseFloat(-personObj.balance).toFixed(2)+''; %>
      		  <span class="summary amount net-amount minus"><%= neg_balance %>
      		  <% } else { %>
      		  <span class="summary amount net-amount plus"><%= personObj.balance %>
      		  <% } %>
      		  </span><br>
      		</span>
      		<span class="chevron"></span>
        </li>
      </a>
    </div>
    <% }) %>
    <!-- payments -->
    <% payments.forEach(function(paymentObj){ %>
    <li id="payments" class="segmented-controller-item list-divider"><%= formatTime(paymentObj.date) %></li>
    <% paymentObj.list.forEach(function(payment){ %>
    <a href="/<%= name_linkified %>/payment/<%= payment.id %>" data-transition="slide-in">
    <li id="payments" class="payment segmented-controller-item click">
      <div class="payment item"><%= payment.description %></div>
      <div class="payment person"><%= payment.payer %></div>
      <span class="payment price"><%= payment.amount %></span>
      <span class="chevron"></span>
    </li>
    </a>
    <% }) %>
    <% }) %>
  </ul>
</div>

<script type="text/javascript">
	$(document).load(function(){
		$('.slider').hide();
	});
	$('#summary').live("click",function(){
		$('.slider').hide();
	});
	$('.need-to-be-settled').live("click",function(){
		$('.slider').show();
	});
	$('#payment-button').live("click",function(){
		$('.slider').hide();
	});
</script>

<%- partial('footer.ejs') %>