<%- partial('header.ejs') %>

<header class="bar-title">
  <a class="button button-clear" href="/<%= name_linkified %>" data-transition="slide-out">
    <i class="icon-arrow-left icon-menu"></i><!--<%= name %>-->
  </a>
  <h1 class="title"><%= pageTitle %></h1>
  <a class="button button-clear" href="/<%= name_linkified %>/user/<%= person_linkified %>/add" data-transition="slide-in">
    <i class="icon-edit icon-menu"></i>
  </a>
</header>

<div class="content">
  <ul class="list">
    <li class="avatar-large">
      <img src="/images/<%= person.toLowerCase() %>.png">
    </li>
    <li class="ind summary content">
      <span class="paid"><span class="amount"><%= paid %></span><br></span>
  		<span class="should-pay"><span class="amount"><%= share %></span><br></span>
  		<span class="net">
  		  <% if (parseFloat(balance)<0) { neg_balance = parseFloat(-balance).toFixed(2)+''; %>
  		  <span class="amount net-amount minus"><%= neg_balance %>
  		  <% } else { %>
  		  <span class="amount net-amount plus"><%= balance %>
  		  <% } %>
  		  </span><br>
  		</span>
		</li>
    <% if (owes.length!=0) { %>
    <li class="list-divider"><%= person %> owes</li>
    <% owes.forEach(function(owesObj){ %>
    <li class="owes">
      <span class="summary person"><img src="/images/<%= owesObj.person.toLowerCase() %>.png"></span>
      <span class="sentence"><%= owesObj.amount %> to <%= owesObj.person %></span>
      <a class="button button-main settle">Settle</a>
    </li>
    <% }) %>
    <% } %>
    <% if (is_owed.length!=0) { %>
    <li class="list-divider"><%= person %> is owed</li>
    <% is_owed.forEach(function(is_owedObj){ %>
    <li class="owes">
      <span class="summary person"><img src="/images/<%= is_owedObj.person.toLowerCase() %>.png"></span>
      <span class="sentence"><%= is_owedObj.amount %> by <%= is_owedObj.person %></span>
      <a class="button button-main remind">Remind</a>
    </li>
    <% }) %>  
    <% } %>
  </ul>
</div>

<%- partial('footer.ejs') %>